body {
    background-color: #1f1f1f;
    color: #bfbfbf;
    height: 2000px; /*Added height to know the effect of Fixed Positioning while scrolling the browser up and down*/
}

h1 {
    font-weight: normal;   
}

em {
    color: #e07a05;   
}

.box {
    /*Dimensions (width, height, margin-bottom, etc.) of the box representing an element*/
    width: 100px; 
    height: 100px;
    margin-bottom: 10px;
}

.blueBox {
    background: #627da0;
    /*Fixes the position of an element to the browser window. The element always stays fixed in place even when scrolling. Fixed positioning helps you to move elements in four directions: top, bottom, left, right relative to the browser window*/
    position: fixed; 
    /*Measures 300px from the top of browser window*/
    top: 300px;
    /*Measures 150px from the left of browser window*/
    left: 150px;
    /*No effects? Yes, the reason is that you can't add conflicting values (top and bottom or left and right values) on each axis, ie use top or bottom not both for vertical axis, and left or right not both for horizontal axis.*/
    bottom: 300px; 
}

.greenBox {
     background: #5b8054;  
}